# <u> Task-01 :</u>
 CIN: PIT/JUN24/17544

### Implement a linear regression model to predict the prices of houses based on their square footage and the number of bedrooms and bathrooms.

### Dataset : https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data

importing necessary Python libraries for this task

In [17]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import math
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [15]:
df_train = pd.read_csv(r"train.csv")
df_test = pd.read_csv(r"test.csv")

In [3]:
df_train.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000

In [4]:
df_test.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
5,1466,60,RL,75.0,10000,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal
6,1467,20,RL,NaN,7980,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,GdPrv,Shed,500,3,2010,WD,Normal
7,1468,60,RL,63.0,8402,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2010,WD,Normal
8,1469,20,RL,85.0,10176,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2010,WD,Normal
9,1470,20,RL,70.0,8400,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,4,2010,WD,Normal

In [8]:
df_train.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [10]:
df_train.value_counts

<bound method DataFrame.value_counts of         Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0        1          60       RL         65.0     8450   Pave   NaN      Reg
1        2          20       RL         80.0     9600   Pave   NaN      Reg
2        3          60       RL         68.0    11250   Pave   NaN      IR1
3        4          70       RL         60.0     9550   Pave   NaN      IR1
4        5          60       RL         84.0    14260   Pave   NaN      IR1
...    ...         ...      ...          ...      ...    ...   ...      ...
1455  1456          60       RL         62.0     7917   Pave   NaN      Reg
1456  1457          20       RL         85.0    13175   Pave   NaN      Reg
1457  1458          70       RL         66.0     9042   Pave   NaN      Reg
1458  1459          20       RL         68.0     9717   Pave   NaN      Reg
1459  1460          20       RL         75.0     9937   Pave   NaN      Reg

     LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature MiscVal  \
0            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
2            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
3            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
4            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
...          ...       ...  ...      ...    ...    ...         ...     ...
1455         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1456         Lvl    AllPub  ...        0    NaN  MnPrv         NaN       0
1457         Lvl    AllPub  ...        0    NaN  GdPrv        Shed    2500
1458         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1459         Lvl    AllPub  ...        0    NaN    NaN         NaN       0

     MoSold YrSold  SaleType  SaleCondition  SalePrice
0         2   2008        WD         Normal     208500
1         5   2007        WD         Normal     181500
2         9   2008        WD         Normal     223500
3         2   2006        WD        Abnorml     140000
4        12   2008        WD         Normal     250000
...     ...    ...       ...            ...        ...
1455      8   2007        WD         Normal     175000
1456      2   2010        WD         Normal     210000
1457      5   2010        WD         Normal     266500
1458      4   2010        WD         Normal     142125
1459      6   2008        WD         Normal     147500

[1460 rows x 81 columns]>

In [19]:
df_train.columns.unique()

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [20]:
df_train.head(1)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500

In [21]:
df_train.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [26]:
df_train.isna().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

data preprocessing for the records in train dataframe

In [1]:

tr_LivArea_Median = math.floor(df_train['GrLivArea'].median())
df_train['GrLivArea'].fillna(tr_LivArea_Median, inplace=True)

tr_BsmtSF_Median = math.floor(df_train['TotalBsmtSF'].median())
df_train['TotalBsmtSF'].fillna(tr_BsmtSF_Median, inplace=True)

tr_GarageArea_Median = math.floor(df_train['GarageArea'].median())
df_train['GarageArea'].fillna(tr_GarageArea_Median, inplace=True)

tr_WoodDeck_Median = math.floor(df_train['WoodDeckSF'].median())
df_train['WoodDeckSF'].fillna(tr_WoodDeck_Median, inplace=True)

tr_OpenPorch_Median = math.floor(df_train['OpenPorchSF'].median())
df_train['OpenPorchSF'].fillna(tr_OpenPorch_Median, inplace=True)

tr_EnclosedPorch_Median = math.floor(df_train['EnclosedPorch'].median())
df_train['EnclosedPorch'].fillna(tr_EnclosedPorch_Median, inplace=True)

tr_3SsnPorch_Median = math.floor(df_train['3SsnPorch'].median())
df_train['3SsnPorch'].fillna(tr_3SsnPorch_Median, inplace=True)

tr_ScreenPorch_Median = math.floor(df_train['ScreenPorch'].median())
df_train['ScreenPorch'].fillna(tr_ScreenPorch_Median, inplace=True)

tr_PoolArea_Median = math.floor(df_train['PoolArea'].median())
df_train['PoolArea'].fillna(tr_PoolArea_Median, inplace=True)

tr_Bsmt_FB_Median = math.floor(df_train['BsmtFullBath'].median())
df_train['BsmtFullBath'].fillna(tr_Bsmt_FB_Median, inplace=True)

tr_Bsmt_HB_Median = math.floor(df_train['BsmtHalfBath'].median())
df_train['BsmtHalfBath'].fillna(tr_Bsmt_HB_Median, inplace=True)

tr_FB_Median = math.floor(df_train['FullBath'].median())
df_train['FullBath'].fillna(tr_FB_Median, inplace=True)

tr_HB_Median = math.floor(df_train['HalfBath'].median())
df_train['HalfBath'].fillna(tr_HB_Median, inplace=True)

tr_Bedroom_Median = math.floor(df_train['BedroomAbvGr'].median())
df_train['BedroomAbvGr'].fillna(tr_Bedroom_Median, inplace=True)

df_train

NameError: name 'math' is not defined

In [34]:
# Edit fields in train dataframe
df_train['TotSqFt'] = df_train['GrLivArea'] + df_train['TotalBsmtSF'] + df_train['GarageArea'] + df_train['WoodDeckSF'] + df_train['OpenPorchSF'] + df_train['EnclosedPorch'] + df_train['3SsnPorch'] + df_train['ScreenPorch'] + df_train['PoolArea']
df_train['TotBaths'] = df_train['BsmtFullBath'] + df_train['BsmtHalfBath'] + df_train['FullBath'] + df_train['HalfBath']
df_train = df_train.drop(columns=df_train.columns.difference(['Id', 'TotSqFt', 'TotBaths', 'BedroomAbvGr', 'SalePrice']))
df_train

        Id  BedroomAbvGr  SalePrice  TotSqFt  TotBaths
0        1             3     208500     3175         4
1        2             3     181500     3282         3
2        3             3     223500     3356         4
3        4             3     140000     3422         2
4        5             4     250000     4455         4
...    ...           ...        ...      ...       ...
1455  1456             3     175000     3100         3
1456  1457             3     210000     4464         3
1457  1458             4     266500     3804         2
1458  1459             2     142125     2874         2
1459  1460             3     147500     3592         3

[1460 rows x 5 columns]

data preprocessing for the records in test dataframe

In [35]:
te_Liv_Area_Median = math.floor(df_test['GrLivArea'].median())
df_test['GrLivArea'].fillna(te_Liv_Area_Median, inplace=True)

te_BsmtSF_Median = math.floor(df_test['TotalBsmtSF'].median())
df_test['TotalBsmtSF'].fillna(tr_BsmtSF_Median, inplace=True)

te_GarageArea_Median = math.floor(df_test['GarageArea'].median())
df_test['GarageArea'].fillna(tr_GarageArea_Median, inplace=True)

te_WoodDeck_Median = math.floor(df_test['WoodDeckSF'].median())
df_test['WoodDeckSF'].fillna(tr_WoodDeck_Median, inplace=True)

te_OpenPorch_Median = math.floor(df_test['OpenPorchSF'].median())
df_test['OpenPorchSF'].fillna(tr_OpenPorch_Median, inplace=True)

te_EnclosedPorch_Median = math.floor(df_test['EnclosedPorch'].median())
df_test['EnclosedPorch'].fillna(tr_EnclosedPorch_Median, inplace=True)

te_3SsnPorch_Median = math.floor(df_test['3SsnPorch'].median())
df_test['3SsnPorch'].fillna(tr_3SsnPorch_Median, inplace=True)

te_ScreenPorch_Median = math.floor(df_test['ScreenPorch'].median())
df_test['ScreenPorch'].fillna(tr_ScreenPorch_Median, inplace=True)

te_PoolArea_Median = math.floor(df_test['PoolArea'].median())
df_test['PoolArea'].fillna(tr_PoolArea_Median, inplace=True)

te_Bsmt_FB_Median = math.floor(df_test['BsmtFullBath'].median())
df_test['BsmtFullBath'].fillna(te_Bsmt_FB_Median, inplace=True)

te_Bsmt_HB_Median = math.floor(df_test['BsmtHalfBath'].median())
df_test['BsmtHalfBath'].fillna(te_Bsmt_HB_Median, inplace=True)

te_FB_Median = math.floor(df_test['FullBath'].median())
df_test['FullBath'].fillna(te_FB_Median, inplace=True)

te_HB_Median = math.floor(df_test['HalfBath'].median())
df_test['HalfBath'].fillna(te_HB_Median, inplace=True)

te_Bedroom_Median = math.floor(df_test['BedroomAbvGr'].median())
df_test['BedroomAbvGr'].fillna(te_Bedroom_Median, inplace=True)

df_test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [36]:
# Edit fields in test dataframe
df_test['TotSqFt'] = df_test['GrLivArea'] + df_test['TotalBsmtSF'] + df_test['GarageArea'] + df_test['WoodDeckSF'] + df_test['OpenPorchSF'] + df_test['EnclosedPorch'] + df_test['3SsnPorch'] + df_test['ScreenPorch'] + df_test['PoolArea']
df_test['TotBaths'] = df_test['BsmtFullBath'] + df_test['BsmtHalfBath'] + df_test['FullBath'] + df_test['HalfBath']
df_test = df_test.drop(columns=df_test.columns.difference(['Id', 'TotSqFt', 'TotBaths', 'BedroomAbvGr', 'SalePrice']))
df_test

        Id  BedroomAbvGr  TotSqFt  TotBaths
0     1461             2   2768.0       1.0
1     1462             3   3399.0       2.0
2     1463             3   3285.0       3.0
3     1464             3   3396.0       3.0
4     1465             2   3292.0       2.0
...    ...           ...      ...       ...
1454  2915             3   1638.0       2.0
1455  2916             3   1948.0       2.0
1456  2917             4   3498.0       2.0
1457  2918             3   1994.0       2.0
1458  2919             3   3884.0       3.0

[1459 rows x 4 columns]

Specify features and target variables from training dataframe

In [38]:
x = df_train[['TotSqFt', 'TotBaths', 'BedroomAbvGr']]
y = df_train['SalePrice']

In [39]:
# Split the data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [40]:
# Train the linear regression model
lr_model = LinearRegression()
lr_model.fit(x_train, y_train)

C:\Users\sanke\anaconda3\lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\Users\sanke\anaconda3\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\sanke\anaconda3\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
C:\Users\sanke\anaconda3\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\sanke\anaconda3\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

LinearRegression()

In [41]:
# Let's see the coefficient and intercept values of the equation y = mx + c
print(f"\nCoefficients : {lr_model.coef_}\nIntercept : {lr_model.intercept_}")

Coefficients : [    51.45521203  19396.77221212 -11211.82548907]
Intercept : -1000.3955150460824

In [42]:
# Let's make predictions on the test set of the split
y_pred = lr_model.predict(x_test)

C:\Users\sanke\anaconda3\lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\Users\sanke\anaconda3\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\sanke\anaconda3\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [43]:
# Let's evaluate the model
mse = mean_squared_error(y_test, y_pred)
print(f"\nMean Squared Error on Test Set: {mse}")

rmse = math.sqrt(mse)
print(f"\nDeviation : {rmse}")

Mean Squared Error on Test Set: 1896183203.7825468

Deviation : 43545.18577044478

C:\Users\sanke\anaconda3\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\sanke\anaconda3\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [45]:
# Let's make predictions on the test dataframe
test_predictions = lr_model.predict(df_test[['TotSqFt', 'TotBaths', 'BedroomAbvGr']])

C:\Users\sanke\anaconda3\lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\Users\sanke\anaconda3\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\sanke\anaconda3\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [46]:
test_predictions

array([138400.75260906, 179053.93812101, 192584.81616207, ...,
       172936.17862259, 106759.36522338, 223406.48816611])

In [48]:
# Create a dataframe for submission
predicted_df = pd.DataFrame({'Id': df_test['Id'], 'TotSqFt' : df_test['TotSqFt'], 'TotBaths' : df_test['TotBaths'] , 'BedroomAbvGr' : df_test['BedroomAbvGr'], 'SalePrice': test_predictions})
predicted_df

        Id  TotSqFt  TotBaths  BedroomAbvGr      SalePrice
0     1461   2768.0       1.0             2  138400.752609
1     1462   3399.0       2.0             3  179053.938121
2     1463   3285.0       3.0             3  192584.816162
3     1464   3396.0       3.0             3  198296.344697
4     1465   3292.0       2.0             2  184760.055923
...    ...      ...       ...           ...            ...
1454  2915   1638.0       2.0             3   88441.309742
1455  2916   1948.0       2.0             3  104392.425470
1456  2917   3498.0       2.0             4  172936.178623
1457  2918   1994.0       2.0             3  106759.365223
1458  2919   3884.0       3.0             3  223406.488166

[1459 rows x 5 columns]